include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include tox.ini
graft countries
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune countries/tests/coverage
prune countries/.ropeproject
